.btn {
  padding: 0.5em 2em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #55CCEE;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: $white;
    font-family: $font-content;
    letter-spacing: 0.1em;
  cursor: pointer;
  &:hover {
    background-color: $blue;
  }
  &--orange {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FF914D;
  }
  &--input {
    margin-top: 2rem;
    width: 50%;
    align-self: flex-end;
  }
}
input:disabled {
  background-color: $grey !important;
  color: $black;
  cursor: none;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}
