.contact {
  width: 100%;
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  &--or {
    color: $blue;
    text-align: center;
  }
  &__content {
    width: 80%;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid $orange;
    h3 {
      margin: 0.6em auto;
    }
  }
}

@media only screen and (min-device-width: 768px) {
  .contact {
    &__content {
      max-width: 50%;
      margin-top: 4rem;
    }
  }
}

@media only screen and (min-device-width: 1024px) {
  .contact {
    &__content {
      max-width: 30%;
      margin-top: 6rem;
    }
  }
}
