.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  &--or {
    color: $blue;
    text-align: center;
  }
  &__content {
    width: 80%;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid $orange;
    h3 {
      margin: 0.6em auto;
    }
  }
}