form {
  width: 80%;
  display: flex;
  flex-direction: column;
  .input {
    border: none;
    border-bottom: 1px solid $blue;
    text-align: center;
    padding-bottom: 0.2rem;
    height: 38px;
    background-color: $cream;
    &::placeholder {
      color: $grey;
      font-family: $font-title;
      font-size: $size-small-medium;
    }
    &:focus {
      outline: none;
      box-shadow: 0 5px 5px -5px $blue;
      // &::placeholder {
      //   font-size: $size-small;
      // }
    }
  }
}