.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    // height: 80%;
    article {
      // width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;
      h2 {
        text-align: center;
        line-height: 1.5em;
      }
    }
    .btn-wrapper {
      display: flex;
      &__column {
        flex-direction: column;
        align-items: center;
        a {
          margin: 1.5rem 0;
        }
      }
      &__row {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }


  .guest_container {
    background-color: white;
    box-shadow: 0 2px 3px rgba(orange, 0.5);
    border-radius: 0.5em;
    padding: 1em;
    margin: auto 1em;
  }
  @media only screen and (min-device-width: 768px) {
    .container {
      &__content {
        z-index: 10;
        min-width: 25%;
        box-shadow: 0 2px 3px rgba(orange, 0.5);
        border-radius: 0.5em;
        background-color: white;
        padding: 2em;
      }
    }
  }

  .particles-js-canvas-el {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

#anim-guestname {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #FBFCFA;
}


.img_anim {
  display: none;
}

#container{
  background: url("../../assets/images/blurred.jpg") 0 0 / cover;
  width: 100%;
  height: 100%;
}

#anim-guest {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // z-index: -1;
}
