/***********
  GLOBAL SETTINGS  
  ***********/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font-content;
}

h1 {
  font-size: $size-medium;
  font-family: $font-title;
}

h2 {
  font-size: $size-large;
  font-family: $font-title;
  font-weight: 400;
}

// main
//   margin: 1vh
//   min-height: calc(100vh - 10vh)

// section
//   margin: 1vh auto
//   display: flex
//   justify-content: space-around
//   flex-wrap: wrap

// article
//   display: block
//   margin: 5px 0

