.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    article {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 3em;
      h2 {
        text-align: center;
        line-height: 1.5em;
      }
    }
    div {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .particles-js-canvas-el {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

#anim-guestname {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #FBFCFA;
}