@import 'variables';
@import 'buttons';
@import 'form';
@import 'settings';

header {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 0 0.5rem 0 $blue;
  h1 {
    margin: 0;
    color: $grey;
    span {
      color: $orange;
    }
  }
}

footer {
  height: 8vh;
  width: 100vw;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 0 0.5rem 0 $blue;
  background-color: $blue;
}

main {
  height: 84vh;
}